@import "_colors";

#about {
    border: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    color: $light;
    background-color: $dark;
    .avatar {
        display: flex;
        justify-content: center;

        img {
            border-radius: 50%;
            width: 90px;
            height: 90px;
        }
    }
    @media(max-width: 480px) {
        flex-direction: column;
    }
}