.markdown-content {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.75rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    p {
        margin-bottom: 1.25rem;
    }
    
    ul, ol {
        margin-bottom: 1.25rem;
        padding-left: 1.5rem;
    }
    
    li {
        margin-bottom: 0.5rem;
    }
}

