@import "_colors";

#contact {
    background-color: $dark;
    color: $light;
    border-bottom: 1px solid #1f1f1f;
    #contact-form {
        display: flex;
        flex-direction: column;
    }
    #submit-button {
        max-width: 150px;
    }
    .contact-field {
        display: block;
        margin: 1em 0;
        padding: 0.5em;
        max-width: 480px;
        background: $light;
        border: 1px solid black;
        border-radius: 3px;
    }
}
