@import "_colors";

#home {
    background: url("assets/background.jpg") no-repeat top center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .greeting {
        text-shadow: 0 0 10px rgb(0 0 0 / 100%);
        text-align: center;
        color: $light;
        margin: 1em;
    }
    .description {
        color: $hilite;
        padding: 0.5em;
        background-color: $dark;
        border-radius: 5px;
        text-align: center;
        text-shadow: 1px 3px rgb(0 0 0 / 80%);
        box-shadow: 1px 2px rgb(0 0 0 / 50%);
        .hilite {
            color: $light;
        }
    }
    .social-media-buttons {
        margin: 1em;
        text-shadow: 1px 3px rgb(0 0 0 / 80%);
        box-shadow: 1px 2px rgb(0 0 0 / 50%);
        border-radius: 5px;
    }
    .scroll-down {
        margin: 1em;
        font-size: 2em;
        color: $light;
        background-color: $dark;
        padding: 0.5em;
        border-radius: 50%;
        text-decoration: none;
        text-shadow: 1px 3px rgb(0 0 0 / 80%);
        box-shadow: 1px 2px rgb(0 0 0 / 50%);
        &:hover {
            color: $hover;
        }
    }
}