@import "_colors";

@mixin cool-shadow {
    text-shadow: 1px 3px rgb(0 0 0 / 80%);
    box-shadow: 1px 2px rgb(0 0 0 / 50%);
}

#home {
    background: url("assets/background.jpg") no-repeat top center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .greeting {
        margin: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            padding: 0.3em;
            color: $light;
            background-color: rgba($dark, 0.95);
            border-radius: 5px;
            @include cool-shadow();
        }
    }
    .social-media-buttons {
        margin: 1em;
        border-radius: 5px;
        background-color: rgba($dark, 0.95);
        @include cool-shadow();
    }
    .scroll-down {
        margin: 1em;
        font-size: 2em;
        color: $light;
        background-color: rgba($dark, 0.95);
        padding: 0.5em;
        border-radius: 50%;
        text-decoration: none;
        &:hover {
            color: $hover;
        }
        @include cool-shadow();
    }
}