@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import "_colors";

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
}

section {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    border-bottom: 1px solid #E8E8E8;
}

button {
	padding: 10px;
	margin: 20px 0;
	border: 1px solid black;
	border-radius: 8px;
	background-color: #7A7A7A;
	color: $light;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		background-color: $light;
		color: $dark;
	}
}