.navbar {
    border-bottom: 1px solid #e0e0e0;
    
    .content-container {
        display: flex;
        gap: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    
    a {
        color: #1a1a1a;
        font-size: 1rem;
        
        &:hover {
            text-decoration: underline;
        }
    }
}