@import "_colors";

#social-media {
    background: $light;
    text-align: center;
    
    h2 {
        margin-bottom: 1rem;
    }
    
    p {
        font-size: 1.1rem;
        color: lighten($dark, 20%);
        margin-bottom: 2rem;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}